body {
    margin: 0;
    text-align: center;
}

canvas {
    background-color: white;
}

#container {
    position: relative;
    width: 900px;
    margin: 0 auto;
    padding: 0px 20px 10px 20px;
}

#instructions {
    background-color: white;
    /* position: relative; */
    padding: 10px 20px 5px 20px;
    /* width: 640px; */
}
